.btn {
    background: #F06292; /* Rosa mais claro e vibrante */
    border-radius: 6px;
    height: 40px;
    text-decoration: none;
    font-family: var(--Poppins);
    font-weight: 600;
    
    color: #FFFFFF; /* Letras brancas */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #F8BBD0; /* Rosa pastel mais claro para o hover */
}
