:root {
    --azul: #A2C8FF;         /* Azul pastel */
    --verde: #A4E1D4;        /* Verde pastel */
    --rosa: #F9B7D4;         /* Rosa pastel */
    --vermelho-claro: #FF9D9E; /* Mantido o vermelho claro */
    --creme: #FCF0E3;        /* Creme */
    --cinza-escuro: #737380;  /* Cinza escuro */
    --cinza-medio: #BCBCBC;   /* Cinza médio */
    --cinza-claro: #F7F7F7;   /* Cinza claro */

    --IBM: 'IBM Plex Sans', sans-serif;
    --Poppins: 'Poppins', sans-serif;
}


